
body{
    background-color: aliceblue;
}

#title{
    font-size: 100px;
    background-color: teal;
    text-align: center;
    color:blanchedalmond
        
}

#imgSrc{
    
    image-rendering: pixelated;
    height: 800px;
    widht: 800px;
    border: 10px;
    border-color:bisque;
    border-style:groove;
   
}
.hLine{
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

#faith{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mission{
    text-align: center;
    font-size: 50px;
    font-weight: 200px;
    color:burlywood;
    font-style:oblique
    

}

#statement{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 100px;
    font-style:initial;
    font-stretch: expanded;
    text-align:justify;
    text-wrap: wrap;  
    padding: 20px;
    color: black;
   
}

#last{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    font-style: oblique;
}


