
body{
    background-color: aliceblue;
}

#title{
    font-size: 100px;
    background-color: teal;
    text-align: center;
    color:blanchedalmond
        
}

#imgSrc{
    
    image-rendering: pixelated;
    height: 800px;
    widht: 800px;
}
.hLine{
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

#faith{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mission{
    text-align: center;
    font-size: 50px;
    color:burlywood;

}

#statement{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: expanded;
    text-indent: 20;
}


